// Talk Bubble CSS set-up

.card-bubble {
    width: 90%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    
    @include shadow-2dp();
  }
  
  .card-bubble.talk-left__simple {
    border-radius: 0 20px 20px 20px;
    background-color: $green-light;
    margin-right: 25px;
  }
  
  .card-bubble.talk-right__simple {
    border-radius: 20px 0px 20px 20px;
    background-color: $white;
    margin-left: 25px;
  }
  
  .card-bubble__text {
    color: $dark-light;
    font-size: $card-text__font-size;
    line-height: $card-text__line-height;
    padding: $card-text__vertical-padding $card-text__horizontal-padding;
  }