// Chat Container CSS set-up
.main-chat {
  width: 100%;
  flex: 1;
  overflow: auto;
  
  @include flex-box(column, center, center);
}

.section-chat {
  height: 100%;
  width: 100%;
  max-width: $chatbox-max-width;
  //background-color: white;
  flex: 1;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
  
  @include flex-box(column, flex-start, center);
}

.message-alignment {
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
  direction: ltr;

  @include flex-box(column, flex-end, center);
}