// -----------------------------------------------------------------------------
// This file contains all the grid configurations
// -----------------------------------------------------------------------------

/**
* Grid of th global container --> Body
*/
#global-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    height: 100%;
    width: 100%;   
}

.global-element:nth-child(1) {
    flex: 4;
    margin-left: 50px;
}
  
.global-element:nth-child(2) {
    flex: 3;
    margin-right: 50px;
}

/**
* Grid of the Marketing Container --> Tagline
*/

/**
* Grid of the main container --> Main elements of the app
*/

#main-container {
    display : flex;
    flex-direction: row;
    width: 100%;
    height : 80%;
    max-width: 600px;
    max-height: 800px;
}

.main-element:nth-child(1) {
    flex: 1;
}

/**
* Grid of the message-container
* Only Child from main-container
*/

#message-container {
    display: flex;
    flex-direction: column;
}

.message-element:nth-chil(3) {
    flex: 1;
}

/**
* Grid or message-title
*/

#message-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

/**
* Grid of message-nav
*/

#message-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.message-nav-element {
    flex: auto;
}

/**
* Grid of message-content
*/

#message-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
}
  
.content-element:nth-child(1) {
    flex: 1;
}
  
.content-element:nth-child(2) {
    flex: 1;
}

/**
* Grid of info-container
*/

#info-container {
    display: none; /* None by default */
    flex-direction: column;
}
  
.info-element:nth-child(2) {
    flex: 1;
}

/**
* Grid of avatar-profile
*/

#avatar-profile {
    display: flex;
    flex-direction: row;
}
  
.avatar-element:nth-child(1) {
    flex: 2;
}
.avatar-element:nth-child(2) {
    flex: 3;
}

/**
* Grid of avatar-description
*/

#avatar-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**
* Grid of chat-container
*/

#chat-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-element:nth-child(1) {
    flex: 1;
    overflow: scroll;
    transform: rotate(180deg);
}

/**
* Grid of bubble-container
*/

#bubble-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotate(180deg);
}

/**
* Grid of message-status
*/

#message-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.message-status-element {
    display: none;
}

/**
* Grid of message-input
*/

#message-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
}

.message-input-element:nth-child(1) {
    flex: 1;
}

/**
* Grid of form-container
*/

#form-container {
    display: flex;
    flex-direction: row;
}

.form-element:nth-child(2) {
    flex: 1;
}