// Header CSS set-up
header {
    height: 75px;
    width: 100%;
    background-color: $green-dark;
    
    @include flex-box(row, center, center);
    @include shadow-2dp();
  }
  
  header.header-title{
    height: 100%
  }