// All the custom css for header (title + nav on chat element)

.main-title {
    background-color: $blue;
}

.title {
    color: $white;
    font-size: 2.0em;
    padding-left: 1.0em;
    position: relative;
    z-index:1;


    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 10px;
        @include circle(10px, $online-green);
        z-index:2;
    }
}

.nav-message {
    border-bottom: 1px solid $classic-grey;
    box-shadow: none;
}

.message-nav-element {
    border: none;
    font-weight: bold;

    &:hover {
        color: $yellow;
        cursor: pointer;
    }
}

.nav-selected {
    background-color: $white;
    color: $yellow;
}

.nav-unselected {
    background-color: $grey;
    color: $blue-dark;
}