/**
Specific CSS for info card
*/

#fixed-tab-2 {
    margin-top: 10px;
}

.info-card > .mdl-card__media {
    height: 200px;
    background: url('../img/avatar-example.png') center no-repeat $yellow;
}

.info-card > .mdl-card__actions > a {
    height: 40px;
}