<!doctype html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tu cherches des informations sur un lieu? Demande à GandPy Bot!" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GrandPy Bot - Le Gand-père incollable sur les lieux</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </head>
  <body>
    <!-- Simple header with fixed tabs. -->
    <div class="page-content">
      <header>
        <div class="header-title">
          <h1>GrandPy Bot</h1>
        </div>
        <nav>
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="#chat" class="nav-link is-active">chat</a>
            </li>
            <li class="nav-item">
              <a href="#info" class="nav-link">info</a>
            </li>  
          </ul>
        </nav>
      </header>
      {% block content %}{% endblock %}
    </div>
    
    <!-- Optional JavaScript -->

    <!-- Custom Javascript -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- GoogleMap API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_API_KEY }}&callback=initMap" async defer></script>
  </body>
</html>
