<!doctype html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Tu cherches des informations sur un lieu? Demande à GandPy Bot!" />
        <meta name="author" content="" />
        <title>GrandPy Bot - Le Gand-père incollable sur les lieux</title>

        <!-- Bootstrap is coming soon! -->
    </head>
    <body>
        <header>
            <h1>GrandPy Bot</h1>
            <h2>Tu cherches un endroit?</h2>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <p>Footer en construction</p>
        </footer>
    </body>
</html>
