{% extends 'base.html' %}

{% block content %}

<main>
  <section>
    <div id="message-container" class="message-alignment">
    </div>
  </section>
</main>
<footer>
  <form method="" action="">
      {{ form.hidden_tag() }} 
      {{ form.message(class="message-writer", placeholder="Ecris ton message") }}
    <button class="btn-simple">
      {{ form.submit(class="btn-simple__content", id="submit-button", value="envoyer") }}
    </button>
  </form>
</footer>

<!--
  <section class="mdl-layout__tab-panel" id="fixed-tab-2">
    <div class="page-content">
      <div class="info-container">
        <div class="mdl-card info-card">
          <div class="mdl-card__media">
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">GrandPy Bot</h2>
          </div>
          <div class="mdl-card__title">
            <h5 class="mdl-card__title-text">The Dream GrandFather</h5>
          </div>
          <div class="mdl-card__supporting-text">
            GrandPy Bot est une application réalisée dans le cadre de la formation
            <strong>Développeur d'Application Python</strong> proposée par Openclassrooms.</br></br>
            Réalisé par <strong>Julien Nuellas</strong>.
          </div>
          <div class="mdl-card__actions mdl-card--border">
              <a href="https://github.com/JN-Lab/OC-Pr7-GrandPyBot" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank"><i class="fab fa-github fa-3x" align="middle"></i></a>
              <a href="https://www.linkedin.com/in/julien-nuellas/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
{% endblock %}
