{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-3 border">
      <div class="row">
        <div class="col-md-10 offset-md-1 border">
          <div class="text-center">
            <img src="{{ url_for('static', filename='img/avatar-example.png') }}" alt="grandpy-avatar" class="img-fluid">
            <p>Avatar du papi</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 border">
        <p>Parti message</p>
    </div>
  </div>
{% endblock %}
