// Font
$font-stack: 'Roboto', sans-serif;

// All the colors from the website
$white: #FFFFFF;
$blue: #344955;
$blue-light: #A3BDED;
$blue-dark: #232F34;
$online-green: #2E7D32;
$grey: #CFD8DC;
$yellow: #F9AA33;

// Breakpoints Screen
$breakpoints: (
    'small': screen and (max-width: 600px),
    'medium': screen and (max-width: 800px),
    'large': screen and (max-width: 1000px),
    'huge': screen and (max-width: 1200px),
);