// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Global CSS Set-up
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0px;
    height: 100%;
    font-family: $font-stack;
    font-size: 100%;
  }
  
  h1 {
    color: $white;
  }
  
  .page-content {
    box-sizing: border-box;
    background-color: $grey;
    width: 100%;
    height: 100%;
    
    @include flex-box(column, flex-start, center);
  }