body {
  background-color: #F7F7FF;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: #577399;
}

footer {
  background-color: #495867;
}

.footer-custom {
  color: #F7F7FF;
}

h1 {
  color: #F7F7FF;
}

#teaser {
  color: #F7F7FF;
}

.no-margin {
  margin: 0;
}
