/* Global confguration */
html, body {
  background-image: linear-gradient(to right bottom, #a3bded, #95b2e3, #86a7da, #789cd0, #6991c7);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

#global-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.global-element:nth-child(1){
  width: 100%;
}

.global-element:nth-child(2){
  width: 100%;
  max-width: 1000px;
  flex: 1;
}

.global-element:nth-child(3){
  width: 100%;
}

/* Nav Configuration */
nav {
  /* background-color: #577399; */
}

h1 {
  color: #F7F7FF;
}

/* Main Content Configuration */

#main-container {
  /* background-color: grey; */
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
}

.main-element:nth-child(1){
  flex: 1;
}

.main-element:nth-child(2){
  flex: 2;
}

/* From Main Content : Avatar Content Configuration */
#avatar-container {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.avatar-element {
  background-color: yellow;
}

/* From Main Content : Message Content Configuration */
#message-container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.message-element:nth-child(1) {

}

.message-element:nth-child(2) {
}

.message-element:nth-child(3) {
  flex: 1;
}

.message-element:nth-child(4) {

}

.message-element:nth-child(5) {

}

/* From Message Content Configuration: Title configuration */

#message-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: #344955;
  color: #FFFFFF;
  height: 50px;

}

#online-circle {
  margin: 8px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #2E7D32;
}


/* From Message Content Configuration: Avatar configuration */

#message-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  height: 50px;
}

.message-nav-element {
  flex: auto;
  border: none;
  font-weight: bold;
  color: #232F34;
}

.message-nav-element:hover {
  color: #F9AA33;
  cursor: pointer;
}

/* From Message Content Configuration: Historic configuration */

#message-historic {
  background-color: #CFD8DC;

}
/* From Message Content Configuration: Status configuration */

#message-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #CFD8DC;
}

.message-status-element{

}

/* From Message Content Configuration: Form configuration */

#message-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  padding-left: 5px;
}

.message-input-element:nth-child(1) {
  flex: 1;
}

.message-input-element:nth-child(2) {
}

#form-container {
  display: flex;
  flex-direction: row;
}

.form-element:nth-child(2) {
  flex: 1;
  border: none;
}
.form-element:nth-child(3) {
  border: none;
  color: #F9AA33;
  font-weight: bold;
  background: none;
}

#submit-button:hover {
  cursor: pointer;
}

/* Footer Configuration */
footer {
  background-color: #495867;
  display: flex;
  flex-direction: column;
  align-items: center;
}
