/**
* VARIABLES
*/
/**
* MIXINS
*/
* {
  box-sizing: border-box; }

html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Roboto", "Helevetica", sans-serif;
  font-size: 100%; }

h1 {
  color: #FFFFFF; }

.page-content {
  box-sizing: border-box;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

header {
  height: 75px;
  width: 100%;
  background-color: #045D56;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

header.header-title {
  height: 100%; }

footer {
  width: 100%;
  border-top: 1px solid #045D56;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  height: 100%;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

form .message-writer {
  flex: 1;
  font-size: 1em;
  border: none;
  padding: 3px; }
  @media (min-width: 800px) {
    form .message-writer {
      font-size: 1.5em; } }

.btn-simple {
  height: 100%;
  background: none;
  border: none; }

.btn-simple__content {
  background: none;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  font-variant: small-caps;
  color: #045D56; }
  @media (min-width: 800px) {
    .btn-simple__content {
      font-size: 2em; } }

/**
Specific CSS for info card
*/
.info-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll; }

.info-card > .mdl-card__media {
  height: 200px;
  background: url("../img/avatar-example.png") center no-repeat #FFCF44; }

.info-card > .mdl-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.info-card > .mdl-card__actions > a {
  height: 40px; }

main {
  width: 100%;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  height: 100%;
  width: 100%;
  max-width: 800px;
  flex: 1;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.message-alignment {
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.card-bubble {
  width: 90%;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.card-bubble.talk-left__simple {
  border-radius: 0 20px 20px 20px;
  background-color: #1EB980;
  margin-right: 25px; }

.card-bubble.talk-right__simple {
  border-radius: 20px 0px 20px 20px;
  background-color: #FFFFFF;
  margin-left: 25px; }

.card-bubble__text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 18px;
  padding: 16px 16px; }

.card {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }
  @media (min-width: 800px) {
    .card {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); } }

.card-title {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #1EB980; }

.card-text {
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.54); }

.card-actions {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.card-actions__link {
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-variant: small-caps;
  margin-right: 10px;
  color: #F4511E; }

.card-media {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

.card-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.54); }

/*# sourceMappingURL=main.css.map */
